# LivingCost USA SMTP Mail Configuration Template
# Copy this file to .env and configure your secret credentials.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rabsstechnologies@gmail.com
SMTP_PASSWORD=bbmu vrle mkfr arsb
TO_EMAIL=rabsstechnologies@gmail.com